<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Orders</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img th:src="@{/images/logo.png}"  src="../static/images/logo.png" width="auto" height="40" class="d-inline-block align-top" alt=""/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/admin}" href="#">admin-home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/logout}" href="#">logout</a>
        </li>

      </ul>

    </div>
  </div>
</nav>

<div class="text-center">
  <h4>Registered Users</h4>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-5 pt-3 text-center" th:each="order :${orders}">
      <div class="card shadow-lg" style="background-color:white;">
        <div class="card-body">
          <h4 class="card-title text-center" >Ordered User: <span th:text="${order.userFullName}"></span></h4>
          <div class="card-text">
            <h5 class="text-center">Delivery Details</h5>
            <table class="border border-dark">
              <tr class="border border-dark">
                <td class="p-2">User ID: </td>
                <td class="border-left border-dark pl-2" th:text="${order.userId}"></td>
              </tr>
              <tr class="border border-dark">
                <td class="p-2">Order ID: </td>
                <td class="border-left border-dark pl-2" th:text="${order.orderId}"></td>
              </tr>
              <tr class="border border-dark">
                <td class="p-2">Products Ordered: </td>
                <td class="border-left border-dark pl-2">
                  <div th:each="product :${order.products}">
                    <p class="p-0 m-0" th:text="${product.name}"></p>
                  </div>
                </td>
              </tr>
              <tr class="border border-dark">
                <td class="p-2">Delivery Address: </td>
                <td class="border-left border-dark pl-2" >
                    <p class="p-0 m-0" th:text="${order.billerFirstName+' '+order.billerLastName}"></p>
                    <p class="p-0 m-0" th:text="${order.address1+' '+order.address2}"></p>
                    <p class="p-0 m-0" th:text="${order.city+' - '+order.pincode}"></p>
                </td>

              </tr>
              <tr class="border border-dark">
                <td class="p-2">Phone: </td>
                <td class="border-left border-dark pl-2" th:text="${order.phone}"> </td>

              </tr>
              <tr class="border border-dark">
                <td class="p-2">Email: </td>
                <td class="border-left border-dark pl-2" th:text="${order.emailAddress}"> </td>

              </tr>
              <tr class="border border-dark">
                <td class="p-2">AdditionalInformation: </td>
                <td class="border-left border-dark pl-2" th:text="${order.additionalInformation}"> </td>

              </tr>
              <tr class="border border-dark">
                <td class="p-2">Total Bill: </td>
                <td class="border-left border-dark pl-2">
                  <h5 th:text="${order.totalBill}"></h5>
                </td>

              </tr>

            </table>
          </div>
          <!-- <a href="#" th:href="@{/admin/categories}" class="card-link btn btn-primary">Manage</a> -->

        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>